
.info-window {
}

.info-window-content {
  color: black;
  padding: 0.5em;
}

/**
 * CityShow Tag
 */
.CityShow .tags {
  margin: 1em 0;
}
.tags .tag {
  padding: .5em;
  background: #cecece;
  margin-right: .5em;
}
.tags h4 {
  display: inline;
  margin-right: .5em;
}

/**
 * Stars - in the component itself
 */
.Stars {}
.Stars .inner {}

/**
 * Tags
 */
.VenueWidget .Tags {
  margin: 10px 0;
}
.VenueWidget .Tags span {
  background: #cecece;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
}

/**
 * VenueWidget
 */
.VenueWidget {}
