
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}

.showScrollTop {
  display: block;
}




/**
 * breakpoints
 */
/*
 * Extra small devices (portrait phones, less than 576px)
 * No media query since this is the default in Bootstrap
 */
#footerServices {
  display: none;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
#footerServices {
  display: block;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/**
 * animation
 */
.swipe-anim-pre {
  margin-left: -100%;
  opacity: 0;
  transition: margin-left 2s ease-out, opacity 2s ease-out;
}
.swipe-anim {
  margin-left: 0;
  opacity: 1;
  transition: margin-left 2s ease-out, opacity 2s ease-out;
}
