
.justify {
  text-align: justify;
}
.center {
  text-align: center;
}

.showScrollTop {
  display: block;
}




/**
 * responsive breakpoints
 */

/*
 * Extra small devices (portrait phones, less than 576px)
 * No media query since this is the default in Bootstrap
 */
#footerServices {
  display: none;
}
#ourProcessContent .timeline::before {
  left: 8.33333%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
#footerServices {
  display: block;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
#ourProcessContent .timeline::before {
  left: 50%;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/**
 * animation
 */

/* this is obsolete */
.swipe-anim-pre {
  margin-left: -100%;
  opacity: 0;
  transition: opacity 2s ease-out; /* margin-left 2s ease-out */
}
.swipe-anim {
  margin-left: 0;
  opacity: 1;
  transition: opacity 2s ease-out; /* margin-left 2s ease-out */
}

.fade-anim-pre {
  opacity: .1;
}
.fade-anim {
  opacity: 1;
  transition: opacity 2s ease-out;
}

/*
 * team 
 */
.team-member p {
  margin: 0;
}
.team-member ul.readable-links {
}
.team-member ul.readable-links li {
  display: inline;
  margin-right: 2em;
}

.description p {
  text-align: justify;
}
.description p::first-letter {
  font-size: 2em;
}

/**
 * extra fancy star
 */
@media (min-width: 768px) {
.star-wrapper {
  margin-left: -160px;
  margin-bottom: 200px;
}
.star {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
}
.star em {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 200px;
  height: 200px;
}
.star > div {
  position: absolute;
}
.star > div > h5 {
  width: 200px;
  z-index: 2;
  position: relative;
  font-size: 2em;
}
.star > div:nth-child(1) {
  top: 0;
  left: 300px;
}
.star > div:nth-child(1) .arrow {
  transform: rotate(0deg);
}
.star > div:nth-child(2) {
  top: 207.295px; 
  left: 585.317px;
}
.star > div:nth-child(2) .arrow {
  transform: rotate(72deg);
}
.star > div:nth-child(3) {
  top: 542.705098312px;
  left: 476.335575688px;
}
.star > div:nth-child(3) .arrow {
  transform: rotate(144deg);
}
.star > div:nth-child(4) {
  top: 542.705098312px;
  left: 123.6644px;
}
.star > div:nth-child(4) .arrow {
  transform: rotate(216deg);
}
.star > div:nth-child(5) {
  top: 207.295px; 
  left: 14.683px;
}
.star > div:nth-child(5) .arrow {
  transform: rotate(288deg);
}
} /* end media query */
.star em {
  text-align: center;
  margin: auto;
  font-size: 2em;
  display: block;
  padding: 80px 0;
}
.star div .arrow {
  width: 160px; 
  height: 90px;
  background: cyan;
  border-left: 5px solid #ff9bf3; /* #fcbcff */
  position: relative;
  z-index: 1;
  background: url('../images/arrow.jpg') center center no-repeat;
}


.drop-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2em;
}

.pricing .tier {
  padding: 2em;
  min-height: 340px;
  margin-bottom: 30px;
}
.pricing .tier h3 {
  border-bottom: 2px solid #5e7f91;
}
.pricing .tier ul {
  padding-left: 1.2em;
  font-size: 1.2em;
}


