.container, #app {
  height: 100%;
}

.tab-pane {
  overflow: auto;
}

.footer-down .folder-ctrl {
  padding-bottom: 52px;
}
.footer-down .folder-half {
 padding-bottom: 52px;
}
.footer-down .folder-footer{
  height: 20px;
}
.footer-down .folder-footer-content {
  display: none;
}

#web-design-6 {
  position: relative;
  overflow: hidden;
}

